@import url('https://fonts.googleappis.com/css?family=Poppins:300,400,500,600,700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1c1c25;
}

section::before 
{
    content:'';
    position: absolute;
    bottom: -40%;
    left: 40%;
    width: 900px;
    height: 900px;
    background: linear-gradient(rgb(153, 0, 255),#f0f);
    border-radius: 50%;
}

.card {
    position: relative;
    width: 508px;
    height: 314px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.card .face {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(109, 33, 119, 0.281);
    backdrop-filter: blur(10px);
    transform-style: preserve-3d;
    transition: 1s;
    
}

.card .face.front::before {
    content:'';
    position: absolute;
    top: 12px;
    right: 12px;
    width: 60px;
    height: 60px;
    background: #F79E1B;
    border-radius: 50%;
    opacity: 0.8;
}

.card .face.front::after {
    content:'';
    position: absolute;
    top: 12px;
    right: 52px;
    width: 60px;
    height: 60px;
    background: #EB001B;
    border-radius: 50%;
    opacity: 0.8;
}

.card .face.front .chip {
    position: absolute;
    height: 80px;
    width: 90px;
    top: 95px;
    left: 25px;
}

.card .face.front .contactless {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 125px;
    left: 110px;

}

.card .face.front .logo {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 30px;
    bottom: 20px;
    
}

.card .face.front .cardHolder {
    position: absolute;
    left: 140px;
    bottom: 60px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    opacity: 0.7;

}

.card:hover .face.front
{
    transform: rotateY(180deg)
}
.card .face.back
{
    transform: rotateY(180deg)
}
.card:hover .face.back
{
    transform: rotateY(360deg)
}

.card .face.back .blackbar
{
    position: absolute;
    width: 100%;
    height:60px;
    background:rgba(133, 132, 132, 0.808);
    top: 15px;
}


.textLicense {
    
    position: absolute;
    top: 5px;
    left: 5px;
    color: #ffffff;
    font-weight: 400;
    font-size: 6px;
    letter-spacing: 1px;
}

.textCirrus {

    position: absolute;
    right: 25px;
    bottom: 15px;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    color: #ffffff;
    opacity: 0.7;

}


.card .face.back .goldsimbol
{
    content:'';
    position: absolute;
    top: 140px;
    left: 60px;
    width: 30px;
    height: 45px;
    background: #b6b3b3;
    opacity: 1;
}
.card .face.back .goldsimbol::before
{
    content:'';
    position: absolute;
    left: 3px;
    width: 50px;
    height: 45px;
    background: #b6b3b3;
    border-radius: 50%;
    
}
.card .face.back .goldsimbol::after
{
    content:'';
    position: absolute;
    left: -23px;
    width: 50px;
    height: 45px;
    background: #b6b3b3;
    border-radius: 50%;
    
}
.card .face.back .gold
{
    position: absolute;
    top: 110px;
    left: 57px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 15px;
    
    opacity: 0.3;
}
.card .face.back .number
{
    position: absolute;
    bottom: 50px;
    left: 40px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;    
    opacity: 0.7;
}
.card .face.back .member
{
    position: absolute;
    bottom: 30px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 4px;
    line-height: 1em;
    text-align: left;
    opacity: 0.7;
}
.card .face.back .member span:last-child
{
    margin-left: 5px;
    font-size: 13px;
    font-weight: 500;
    
}
.card .face.back .valid
{
    position: absolute;
    bottom: 30px;
    left: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 4px;
    line-height: 1em;
    text-align: left;
    opacity: 0.7;
}
.card .face.back .valid span:last-child
{
    margin-left: 5px;
    font-size: 13px;
    font-weight: 500;
    
}
.card .face.back .code
{
    position: absolute;
    bottom: 30px;
    left: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 4px;
    line-height: 1em;
    text-align: left;
    opacity: 0.7;
}
.card .face.back .code span:last-child
{
    margin-left: 5px;
    font-size: 13px;
    font-weight: 500;
    
}


.card .face.back::before {
    content:'';
    position: absolute;
    bottom: 30px;
    right: 12px;
    width: 40px;
    height: 40px;
    background: #1ba6f7;
    border-radius: 50%;
    opacity: 0.8;
}

.card .face.back::after {
    content:'';
    position: absolute;
    bottom: 30px;
    right: 35px;
    width: 40px;
    height: 40px;
    background: #033064;
    border-radius: 50%;
    opacity: 0.8;
}
